a, h3.article-title a:hover {
  color: #90c226;
}
.navbar-default .navbar-brand {
	color: white;
	background-color: #90c226;
}
.navbar-header {
	color: white;
	background-color: #90c226;
}
.navbar-default{
	color: white;
	background-color: #90c226;
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:visited {
  color: white;
}
.article-metadata a:hover {
  color: #90c226;
}
.btn-primary {
  border-color: #90c226;
}

.open > .dropdown-toggle.btn-primary {
  background: #90c226;
}

.btn-primary.btn-outline {
  color: #90c226;
  border-color: #90c226;
}
.navbar-default .navbar-nav li a:hover {
  color: #90c226;
}


html {
  font-family: 'Roboto', sans-serif;
}
.navbar-default {
  font-family: 'Roboto', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}